<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="posts-from-car-modal" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        
        <div id="insert-posts-from-car">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
        </div>
    </div>
  </div>
</div>


<h1 class="mt-4">Cars</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cars</li>
</ol>
<div id="cars-insert">
    <div id="overlay" style="display:none;">
        <div class="spinner"></div>
        <br/>
        Loading...
    </div>
</div>