<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="update-car-modal" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form id="update-car-form">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="hidden" name="id">
            <div class="row">
                <div class="col">
                    <input type="text" name="model_name" class="form-control" placeholder="Name of the Car">
                </div>
                <div class="col">
                    <input type="text" name="year_of_production" class="form-control" placeholder="Prodcution Year">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" name="vin" class="form-control" placeholder="VIN">
                </div>
                <div class="col">
                    <input type="text" name="mileage" class="form-control" placeholder="Mileage">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" name="num_of_doors" class="form-control" placeholder="Number of Doors">
                </div>
                <div class="col">
                    <input type="text" name="engine_power_kw" class="form-control" placeholder="Engine Power (kw)">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" name="manufacturer" class="form-control" placeholder="Manufacturer">
                </div>
                <div class="col">
                    <input type="text" name="fuel" class="form-control" placeholder="Fuel Type">
                </div>
            </div>
            <hr>
            <div class="float-right my-3">
                <button type="reset" class="btn btn-secondary my-1">Clear</button>
                <button type="submit" class="btn btn-success ml-3 mr-4 my-1">Update Car</button>
            </div>
        </form>
    </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="posts-from-car-modal" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        
        <div id="insert-posts-from-car">

        </div>
        <div class="modal-footer">
            <button type="button" onclick="Cars.modalClose()" class="btn btn-dark" data-dismiss="modal">Close</button> 
        </div>
    </div>
  </div>
</div>

<hr>
<a class="btn btn-dark my-2" data-toggle="collapse" href="#add-car-collapse" role="button" aria-expanded="false" aria-controls="add-car-collapse" id="collapse-trigger">
    Click here to add new car!
</a>
<div class="collapse" id="add-car-collapse">
    <form id="add-car-form">
        <div class="row">
          <div class="col">
            <input type="text" name="model_name" class="form-control" placeholder="Name of the Car">
          </div>
          <div class="col">
            <input type="text" name="year_of_production" class="form-control" placeholder="Prodcution Year">
          </div>
        </div>
        <div class="row">
            <div class="col">
            <input type="text" name="vin" class="form-control" placeholder="VIN">
            </div>
            <div class="col">
            <input type="text" name="mileage" class="form-control" placeholder="Mileage">
            </div>
        </div>
        <div class="row">
            <div class="col">
            <input type="text" name="num_of_doors" class="form-control" placeholder="Number of Doors">
            </div>
            <div class="col">
            <input type="text" name="engine_power_kw" class="form-control" placeholder="Engine Power (kw)">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" name="manufacturer" class="form-control" placeholder="Manufacturer">
            </div>
            <div class="col">
                <input type="text" name="fuel" class="form-control" placeholder="Fuel Type">
            </div>
        </div>
        <div class="float-right my-3">
            <button type="reset" class="btn btn-secondary mr-1">Clear</button>
            <button id="add-car-button" class="btn btn-success ml-2">Add Car</button>
        </div>
    </form>
</div>

<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br/>
    Loading...
</div>

<h1 class="mt-5">Cars</h1>
<div id="cars-insert">
</div>

<script>
    Cars.init();
</script>