<h1 class="mt-4">Home</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Collection of posts.</li>
</ol>
<div class="card mb-4">
    
    <div class="card" id="posts-insert">
        
    </div>  
</div>  

<!-- TODO: make one ajax call to upload image and get back the spaces URL -> /upload
    and then make other call /user/car/posts/{car_id} to get the post based on the car ID-->
<!-- TODO: use this view for the home view to display all of the posts as a feed and add new view which will be triggered when clicked on a single car in the cars view and there add forms for adding new posts referencing that car from its ID -->