<div class="modal fade" tabindex="-1" role="dialog" id="addPostModal" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form class="mt-3 needs-validation" id="add-post-form" novalidate>
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add New Post</h5>
            <button type="button" id="x-reset-form-modal" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hidden_id" name="id"/>
                <input type="hidden" id="hidden_car_id" name="car_id"/>
                <div class="form-group">
                    <label>Post description</label>
                    <textarea id="post-body" class="form-control" name="body" rows="3" minlength="5" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter more than 5 characters for the description of the post!
                    </div>
                </div>
                
                <img id="upload-img" src="" class="img-fluid" alt="Waiting for upload"/>
                <div class="form-group">
                    <div class="mb-3">
                    <label for="formFile">Choose the photo you want to add</label>
                    <input type="file" class="form-control" onchange="Posts.file2Base64(this)" id="formFile">
                    </div>
                </div>
                <input type="hidden" name="image_url" id="image_url_id"/>
            </div>
            <div class="modal-footer">
            <button type="reset" class="btn btn-secondary" data-dismiss="modal" id="reset-form-modal">Close</button>
            <button class="btn btn-dark" type="submit" id="add-post-button">Add Post</button>
            </div>
        </form>
    </div>
    </div>
</div>

<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br/>
    Uploading...
</div>

<div id="overlay-loading" style="display:none;">
    <div class="spinner"></div>
    <br/>
    Loading...
</div>

<h1 class="mt-4">Posts</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Collection of post from every car.</li>
</ol>
<div id="posts-group-by-car">
    
</div>

  

<!-- TODO: make one ajax call to upload image and get back the spaces URL -> /upload
    and then make other call /user/car/posts/{car_id} to get the post based on the car ID-->
<!-- TODO: use this view for the home view to display all of the posts as a feed and add new view which will be triggered when clicked on a single car in the cars view and there add forms for adding new posts referencing that car from its ID -->

<script>
    Posts.init();
</script>